@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>

<address>
    Södermälarstrand 21<br />
    118 20, Stockholm<br />
    <abbr title="Mobil">M:</abbr>
    0735047702<br />
    <abbr title="Fax">F:</abbr>
    08-7206880
</address>

<address>
    <strong>Epost:</strong> <a href="mailto:gl@econometer.se">gl@econometer.se</a><br />
</address>